@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,500,700");
body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

section {
  padding: 120px 0;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 400 !important;
}

#top-bar {
  background: #001362;
  color: #fff;
  height: 50px;
  line-height: 50px;
}

.bg-light {
  background: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.navbar-light .navbar-nav .nav-link::before,
.navbar-light .navbar-nav .nav-link::before {
  content: "";
  text-decoration: none;
  background-color: #f48a18;
  position: relative;
  width: 0%;
  transition: 0.6s;
  top: 96%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
}
.navbar-light .navbar-nav .nav-link:focus:before,
.navbar-light .navbar-nav .nav-link:hover::before {
  content: "";
  position: absolute;
  width: 100%;
}

.heading-divider {
  height: 2px;
  width: 44px;
  background: #f48a18;
  margin: auto;
}

#slider {
  padding: 2rem 0;
  min-height: 100vh;
}

#slider img {
  width: 100%;
  max-height: 100vh;
}

#about-us .card {
  border: none;
  padding: 0;
}

#about-us .card img {
  -webkit-transition: 0.9s;
  transition: 0.9s;
  margin-bottom: 0.6rem;
}

#about-us .card img:hover {
  -webkit-transform: scale(1.34);
  transform: scale(1.34);
}

#about-us .card .card-body {
  padding: 1rem;
}

#about-us .card .card-body a {
  color: #000;
  font-size: 19px;
}

#about-us .card .card-body .card-text {
  font-size: 14px;
  text-align: justify;
}

#academic h3 small {
  font-size: 14px;
}

#academic .card {
  border: none;
}

#academic .card .feature--1 {
  border-bottom: 5px solid #001362;
}

#academic .card .feature--2 {
  border-bottom: 5px solid #f48a18;
}

#academic .card .feature--3 {
  border-bottom: 5px solid #30a8cc;
}

#academic .card .card-body {
  padding: 1.5rem 0;
}

#academic .card .card-body a {
  font-size: 22px;
  color: #4e4e4e;
}

#academic .card .card-body .heading-divider {
  margin: 0 4px;
}

#testimonial {
  background: #242f4b;
  padding: 2rem 0;
}

#testimonial .nav-pills {
  padding-top: 3rem;
}

#testimonial .nav-pills .nav-link.active {
  background-color: transparent;
}
#news .owl-carousel .owl-nav {
  display: block;
}

#news .item .main-item {
  background: #f8f8f8;
}

#news .item .main-item .meta i {
  font-size: 15px;
  color: orange;
}

#news .item .main-item .meta ul li {
  padding: 0 0.9rem;
}

#news .item .bca {
  background: url("../img/bca.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#news .item .bbm {
  background: url("../img/bbm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#news .item .farewell {
  background: url("../img/Fairwell-Science-570x570.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#news .item .slider-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  height: 400px;
}

#news .item .slider-image .fontawesome i {
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: #001362;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

#news .item .slider-image .date {
  background: orange;
  color: #fff;
  height: 30px;
  line-height: 30px;
  font-size: 15px;
  padding: 0px 24px;
}

#footer-area {
  background: #1a1a1a;
  color: #fff;
}

#footer-area .border-bottom {
  padding: 1rem 0;
  border-bottom: 1px solid #d1cdcd;
}

#footer-area .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

#footer-area .social-icons i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  background: #444;
  color: #fff;
}

#footer-area .footer-widget .heading-divider {
  margin: 0 4px;
}

#footer-area .footer-widget .address {
  color: #8f8f8f;
}

#footer-area .footer-widget .address ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer-area .footer-widget .address ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer-area .footer-widget .address ul li p {
  padding-top: 0;
  margin-left: 1rem;
}

#footer-area .footer-widget .icons {
  padding-top: 40px;
}

#footer-area .footer-widget .icons .nav-link {
  padding: 0;
  padding-right: 1rem;
}

#footer-area .footer-widget .icons i {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  background: #444;
  color: #fff;
}

#footer {
  padding: 0;
  background: #1a1a1a;
  color: #fff;
}

#footer .container {
  padding: 1.5rem 0;
  border-top: 1px solid #fff;
}

#footer .container .nav a {
  color: #fff;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */
